body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    padding: 20px;
    margin: 0;
}

.login-box {
    width: 100%;
    max-width: 900px; /* Limita a largura em telas maiores */
    padding: 15px;
    margin: 20px auto;
    border: none;
    border-radius: 8px;
    color: rgb(16, 71, 202);
    font-size: 16px;
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna para telas pequenas */
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    transition: 0.3s;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.login-box h3 {
    font-size: 1.5em; /* Reduz o tamanho do título em telas menores */
    margin-bottom: 10px;
}

.login-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input,
button {
    width: 100%;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}


button {
    background-color: rgb(16, 71, 202);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: rgb(10, 45, 128);
}

.tabela-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* Adicione esta linha */
    overflow-x: auto;
}

h2 {
    font-size: 1.2em; /* Reduz o tamanho dos títulos das tabelas */
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9em; /* Reduz o tamanho da fonte da tabela */
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas na tabela */
}

th {
    background: #f0f0f0;
}

.red-text {
    color: red;
    font-weight: bold;
}

.yellow-text {
    color: orange;
    font-weight: bold;
}

/* Regras para telas maiores */
@media (min-width: 768px) {
    .login-box > div {
        flex-direction: row;
        width: auto;
    }

    input,
    button {
        width: auto;
        margin: 5px;
    }
}